@media only screen and (min-width: 451px){
    .nav-link{
        color: #464444;
    }
    .active{
        color: whitesmoke;
    }
    .contenedorLole{
        .contenedorTituloLole{
            .tituloLole{
                font-size: 2.5rem;
            }
        }
        .fila{
            .parrafoLole{
                font-size: 1.875rem;
            }
        }
    }
}
